p.intro {
    width: 50%;
    font-style: italic;
}
.flashy {
    color: red;
    font-style: italic;
}
}
.best {
    color: purple;
    font-weight: bold;
}
p.author {
    width: 25%;
    font-style: italic;
    font-weight: 500;
}